/*VARIABLES*/
$green: #92B540;
$blue: #009BA6;
$red: #CD4D58;
$yellow: #CDC638;
$black: #333332;
$blackbg: rgba(0,0,0,0.6);
$white: rgba(255,255,255,1.0);
$title-font: "atrament-web", sans-serif;
$display-font: "prenton-display", sans-serif;
$hand-font: "gooddog-new", sans-serif;

@mixin block-rel {
    display: block;
    position: relative;
}
@mixin block-ab {
    display: block;
    position: absolute;
}
@mixin inline-rel {
    display: inline-block;
    position: relative;
}
@mixin trans-one {
    transition: .1s all;
    -moz-transition: .1s all;
    -webkit-transition: .1s all;
    transition-delay: .1s;
    -moz-transition-delay: .1s;
    -webkit-transition-delay: .1s;
}
@mixin trans-two {
    transition: .3s all;
    -moz-transition: .3s all;
    -webkit-transition: .3s all;
    transition-delay: .1s;
    -moz-transition-delay: .1s;
    -webkit-transition-delay: .1s;
}
@mixin trans-three {
    transition: ease .3s all;
    -moz-transition: ease .3s all;
    -webkit-transition: ease .3s all;
}
@mixin h1 {
    font-family: $title-font;
    font-size: 40px;
    font-weight: 500;
	letter-spacing: 1px;
    line-height: 40px;
    color: $black;
}
@mixin h2 {
    font-family: $title-font;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    color: $black;
}
@mixin h2-alt {
    font-family: $display-font;
    font-size: 26px;
    font-weight: 100;
    line-height: 26px;
    color: $black;
}
@mixin h3 {
	display: inline-block;
    font-family: $title-font;
    font-size: 2em;
    font-weight: 300;
	letter-spacing: 1px;
    line-height: 1.2;
    color: $white;
}
@mixin h3-alt {
    font-family: $display-font;
    font-size: 20px;
    font-weight: 100;
    line-height: 26px;
    color: $white;
}
@mixin h4 {
    font-family: $title-font;
    font-size: 1em;
    font-weight: 300;
	letter-spacing: 2px;
    line-height: 20px;
    color: $white;
	text-transform: uppercase;
}
@mixin p {
    font-family: $display-font;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: 1em;
    color: $black;
}
@mixin p-alt {
    font-family: $title-font;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: $black;
}