h1, h2, h3, h4 {
    font-family: "proxima-nova";
    font-weight: 700;
}

h1 {
    
}

h2 {
    background: #FFF;
    color: #333;
    display: block;
    font-size: 2.5em;
    font-weight: 900;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    top: 50px;
    text-transform: uppercase;
    z-index: 99999;
	&::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		right: -46px;
		top: 0;
		border-width: 22px 22px;
		border-style: solid;
		border-color: #FFF transparent #FFF #FFF;
		z-index: 99;
	}
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
    font-weight: 400;
}

p {
    
}

.p-alt {
    @include p-alt;
}

.uppercase {
    text-transform: uppercase;
}

.altgreen {
    background: rgb(13%, 69%, 39%)!important;
    color: #FFF!important;
	&::after {
		border-color: rgb(13%, 69%, 39%) transparent rgb(13%, 69%, 39%) rgb(13%, 69%, 39%)!important;
	}
}