/* =TICKETS
----------------------------------------------- */
#tickets ul {
	@extend %clearfix;
	li.node {
		@include respond-to(tablet) { width: 33.333%; }
		width: 100%;
        a {
            display: block;
            @include transition(all, 0.2s, ease-in-out);
            &:hover { color: $green; }
            &:hover img { @include transform(scale(0.9)); }
            span, p {
                color: $white;
            }
        }
	}
    img {
        @include transition(all, 0.2s, ease-in-out);
        width: 70%;
    }
}

/* =VENUES
----------------------------------------------- */
#venues {
    position: relative;
    ul {
        @extend %clearfix;
        li {
            display: inline-block;
            padding: 0.5rem $base-padding 0.5rem 0;
            width: 100%;
            h4 {
                font-size: $h5;
            }
            img {
                width: auto;
            }
        }
    }
}

/* =PRESS
----------------------------------------------- */
#press  {
    position: relative;
    ul {
        @extend %clearfix;
        li {
            @include respond-to(tablet) {
                width: 50%;
            }
            @include respond-to(laptop) {
                width: 33%;
            }
            display: inline-block;
            padding: 0.5rem $base-padding 0.5rem 0;
            vertical-align: top;
            width: 100%;
            a {
                color: $yellow;
                display: block;
                margin-bottom: 1rem;
                &:hover {
                    color: $green;
                }
            }
            .agent {
                font-family: $display-font;
                font-size: $small;
                margin-bottom: 1rem;
            }
        }
    }
}