/* COLORS */
$green: hsla(149, 74%, 41%, 1.0);
$orange: hsl(9, 82%, 58%);
$brown: hsl(40, 40%, 50%);
$yellow: hsl(40, 88%, 57%);
$blue: hsl(189, 89%, 55%);
$red: hsl(352, 89%, 64%);
$black: #333332;
$blackbg: rgba(0,0,0,0.6);
$white: rgba(255,255,255,1.0);

/* FONTS */
$title-font: "refrigerator-deluxe", sans-serif;
$display-font: "proxima-nova", sans-serif;

/* STACK */
$base-padding: 3rem;