html, body {
    height: 100%;
	line-height: 1;
	position: relative;
	width: 100%;
	-webkit-font-smoothing: antialiased!important;
}

html {
    font-size: 62.5%;
}

body {
    background: url(img/broken_noise.jpg) repeat 0 0;
    background-attachment: fixed;
    background-size: auto;
    color: #FFF;
    font-family: "proxima-nova";
    font-size: 1.6rem;
    line-height: 1.618;
	overflow-x: hidden
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.col-3-3 {
    width: 100%;
}

.col-2-3 {
    float: left;
    width: 66%;
}

.col-1-3 {
    float: right;
    width: 30%;
}

.block { display: block; }


.floatright {
    float: right!important;
}
