/*VARIABLES*/
$green: #92B540;
$blue: #009BA6;
$red: #CD4D58;
$yellow: #CDC638;
$black: #333332;
$blackbg: rgba(0,0,0,0.6);
$white: rgba(255,255,255,1.0);
$title-font: "atrament-web", sans-serif;
$title-font-alt: "refrigerator-deluxe", sans-serif;
$display-font: "prenton-display", sans-serif;

body {
    background: url(img/broken_noise.jpg) repeat 0 0;
    background-attachment: fixed;
    background-size: auto;
    color: #FFF;
    font-family: "proxima-nova";
    font-size: 1.6rem;
    line-height: 1.618;
	overflow-x: hidden;
}

html, body {
	position: relative;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.col-3-3 {
    width: 100%;
}

.col-2-3 {
    float: left;
    width: 66%;
}

.col-1-3 {
    float: right;
    width: 30%;
}

.block { display: block; }


.floatright {
    float: right!important;
}
