/*TRANSLATE CENTER*/
@mixin translate( $x: null, $y: null ) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin rotate( $perspective: X, $degree: 45 ) {
	-webkit-transform: rotate#{$perspective}#{("(#{$degree}deg)")};
	-moz-transform: rotate#{$perspective}#{("(#{$degree}deg)")};
	transform: rotate#{$perspective}#{("(#{$degree}deg)")};
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

/*ANIMATIONS*/
@mixin keyframes($animation-name) {
    @-webkit-keyframes $animation-name {
        @content;
    }
    @-moz-keyframes $animation-name {
        @content;
    }
    @keyframes $animation-name {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    animation: #{$str};
}


@mixin grayscale {
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
}

@mixin fullcolor {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

@mixin box-shadow( $horiz, $vert, $blur, $spread, $color ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}

@mixin imgblur( $radius ) {
	-webkit-filter: blur($radius+px); -moz-filter: blur($radius+px);
	-o-filter: blur($radius+px); -ms-filter: blur($radius+px);
	filter: url(images/blur.svg#blur); filter: blur($radius+px); filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='$radius');
}

@mixin border-radius( $radius ) {
	-webkit-border-radius: $radius+px;
	-moz-border-radius: $radius+px;
	-o-border-radius: $radius+px;
	-ms-border-radius: $radius+px;
	border-radius: $radius+px;
}

@mixin scale( $size ) {
	-webkit-transform: scale($size);
	-moz-transform: scale($size);
	-o-transform: scale($size);
	-ms-transform: scale($size);
	transform: scale($size);
}

@mixin transition( $property, $duration, $function, $delay:"" ) {
	-webkit-transition: $property $duration $function unquote($delay);
	-moz-transition: $property $duration $function unquote($delay);
	-o-transition: $property $duration $function unquote($delay);
	-ms-transition: $property $duration $function unquote($delay);
	transition: $property $duration $function unquote($delay);
}