/* =NAVIGATION
----------------------------------------------- */
@mixin line {
	@include transition(all, 0.2s, ease);
	display: inline-block;
	width: $button-size;
	height: $button-size/7;
	background: #FFF;
	border-radius: $button-size/14; 
}

$button-size : 3.5rem; 
 
.lines-button {
	@include translate(0, -50%);
	display: inline-block;
	transition: .3s;
	cursor: pointer;
	position: fixed;
	top: 40px; right: 30px;
	user-select: none;
	border-radius: $button-size/7;
	z-index: 99999;
	&:hover { opacity: 1; }
	&:hover .lines::before { top: 1rem;	}
	&:hover .lines::after {	top: -1rem;	}
	&:active {
		transition: 0;
		background: rgba(0,0,0,.1);
	}
	.lines {
		@include line;
		position: relative; 
		&::before, &::after {
			@include line;
			position: absolute;
			left: 0;
			content: '';
			transform-origin: $button-size/14 center;
		}
		&::before { top: $button-size/4; }
		&::after { top: -$button-size/4; }
	}
}

.lines-button.x.close .lines {
    /*hide the middle line*/
    background: transparent;
    /*overlay the lines by setting both their top values to 0*/
    &::before, &::after{
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		top: 0;
		width: $button-size;
    }
    // rotate the lines to form the x shape
    &::before { @include rotate(Z, 45); }
    &::after { @include rotate(Z, -45); }
}

body > nav {
	@include transition(all, 0.3s, ease-in-out);
	@include respond-to(laptop) {
		width: auto;
	}
    background: hsl(149, 69%, 41%);
    height: auto;
	overflow: hidden;
    position: fixed;
	top: 0; right: -100%;
    text-align: center;
    width: 100%; height: 100%;
    z-index: 99999;
	ul {
		@extend %clearfix;
		display: block;
		margin: 120px auto 0;
		width: 100%; height: 100%;
		li {
			height: auto;
			position: relative;
			text-align: left;
			width: 90%;
			&[data-type*="link"] a:hover, & a.active {
				color: rgba(255,255,255,1.0);
				text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
			}
			a {
				@include transition(all, 0.15s, ease-in-out);
				color: rgba(255,255,255,0.55);
				display: block;
				font-family: $title-font-alt;
				font-size: $base;
				font-weight: 700;
				letter-spacing: 1px;
				padding: 16px 36px;
				text-transform: uppercase;
			}
		}
	}
}

.subnav {
	display: table;
	margin: 0 auto;
	ul {
		@extend %clearfix;
		width: 100%;
		li {
			float: left;
			padding: 0 $base;
			a {
				color: hsl(149, 69%, 41%);
				font-size: $h5;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
}

body.pml-open nav.push-menu-right {
    right: 0;
}
body.pml-open #wrapper {
    right: 210px;
}

.mask {
	@include transition(all, 0.3s, ease-in-out);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}